body {
  /* Old browsers */
  background: #FFFFFF;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #FFFFFF, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #FFFFFF, #FFFFFF);
  margin: 0;
  padding: 0;
}

h1 {
  color: #000000;
  font-family: 'Roboto';
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
}
