body {
  /* Old browsers */
  background: #FFFFFF;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #FFFFFF, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #FFFFFF, #FFFFFF);
  margin: 0;
  padding: 0;
}

h1 {
  color: #323132;
  font-family: 'Sans- Serif';
  font-size: 50px;
  text-align: center;
  padding: 35px;
  width: 100%;
  border: 3px solid #00A4BD;
}

/* Navigation menu */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #999999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ffffff;
  color: 000000;
  font-weight: bold;
}

/* Font Awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;

.fa-linkedin {
  background: #007BB5;
  color: white;
}
